
registry=https://registry.npmjs.org/
legacy-peer-deps=true
@svi:registry=https://pkgs.dev.azure.com/Desarrollo-Sunvalley/AurumSuite/_packaging/dev-libraries/npm/registry/
always-auth=true
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=8C6A08FB-26B2-4525-AF51-5D52338FE5FE
; begin auth token
//pkgs.dev.azure.com/Desarrollo-Sunvalley/AurumSuite/_packaging/dev-libraries/npm/registry/:username=Desarrollo-Sunvalley
//pkgs.dev.azure.com/Desarrollo-Sunvalley/AurumSuite/_packaging/dev-libraries/npm/registry/:_password=QUl0U0xKemNqVnFLUm5GN3pwcFVUbHBKYnZhdUJDbTZGZmdmNlNvVWtJTkZTZkZVVFRkR0pRUUo5OUJDQUNBQUFBQWNUSEJLQUFBU0FaRE9lS1BZ
//pkgs.dev.azure.com/Desarrollo-Sunvalley/AurumSuite/_packaging/dev-libraries/npm/registry/:email=fsanchez@colombianmint.com
//pkgs.dev.azure.com/Desarrollo-Sunvalley/AurumSuite/_packaging/dev-libraries/npm/:username=Desarrollo-Sunvalley
//pkgs.dev.azure.com/Desarrollo-Sunvalley/AurumSuite/_packaging/dev-libraries/npm/:_password=QUl0U0xKemNqVnFLUm5GN3pwcFVUbHBKYnZhdUJDbTZGZmdmNlNvVWtJTkZTZkZVVFRkR0pRUUo5OUJDQUNBQUFBQWNUSEJLQUFBU0FaRE9lS1BZ
//pkgs.dev.azure.com/Desarrollo-Sunvalley/AurumSuite/_packaging/dev-libraries/npm/:email=fsanchez@colombianmint.com
; end auth token
always-auth=true