<p-floatlabel variant="on">
  @if (icon()) {
    <p-icon-field>
      <p-inputicon [class]="icon()" />
      <ng-container [ngTemplateOutlet]="input"></ng-container>
    </p-icon-field>
  } @else if (type() === 'password') {
    <p-password
      [formControl]="control"
      [feedback]="false"
      toggleMask
      inputId="password_label"
      styleClass="w-full"
      [inputStyle]="{'width': '100%'}"
      class="w-full"
    />
  } @else {
    <ng-container [ngTemplateOutlet]="input"></ng-container>
  }
  <label [for]="id">{{ label() }}</label>
</p-floatlabel>

<div sviFormError [errorMessage]="errorMessage" [show]="hasErrors"></div>

<ng-template #input>
  <input
    [mask]="mask()"
    [suffix]="suffix()"
    [prefix]="prefix()"
    [allowNegativeNumbers]="allowNegativeNumbers()"
    [thousandSeparator]="thousandSeparator()"
    [decimalMarker]="decimalMarker()"
    [inputTransformFn]="inputTransformFn()"
    [outputTransformFn]="outputTransformFn()"
    pInputText
    [formControl]="control"
    [id]="id"
    [type]="type()"
    [style]="{
        'width': '100%'
    }"
    class="p-inputtext-md"
    size="medium"
  />
</ng-template>
