<p-floatlabel variant="on">
  @if (icon()) {
    <p-icon-field>
      <p-inputicon [class]="icon()"  pSize="large"/>
      <ng-container [ngTemplateOutlet]="input"></ng-container>
    </p-icon-field>
  } @else if (type() === 'password') {
    <p-password
      [formControl]="control"
      [feedback]="false"
      toggleMask
      inputStyleClass="w-full"
      inputId="password_label"
      styleClass="w-full flex"
    />
  } @else {
    <ng-container [ngTemplateOutlet]="input"></ng-container>
  }
  <label [for]="id">{{ label() }}</label>
</p-floatlabel>

@if (hasErrors) {
  <div class="flex validation-error-msg items-center">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <small class="text-danger flex-1">
      {{ errorMessage }}
    </small>
  </div>
}

<ng-template #input>
  <input
    [mask]="mask()"
    [suffix]="suffix()"
    [prefix]="prefix()"
    [allowNegativeNumbers]="allowNegativeNumbers()"
    [thousandSeparator]="thousandSeparator()"
    [decimalMarker]="decimalMarker()"
    [inputTransformFn]="inputTransformFn()"
    [outputTransformFn]="outputTransformFn()"
    pInputText
    [formControl]="control"
    [id]="id"
    [type]="type()"
    class="w-full p-inputtext-sm"
    size="small"
  />
</ng-template>
