<p-floatlabel variant="on">
    <textarea
        pTextarea
        [id]="id"
        placeholder=" "
        (blur)="onBlur()"
        [rows]="rows"
        [cols]="cols"
        class="w-full p-inputtext"
        [value]="value"
        (input)="onInputChange($event)"
        [disabled]="disabled"
        [ngClass]="{ 'ng-invalid ng-dirty': hasErrors || +charCountText === maxLength }"
        [maxLength]="maxLength"
    ></textarea>
    <label [for]="id">{{ label }}</label>
</p-floatlabel>

@if (hasErrors) {
    <div class="w-full text-right validation-error-msg">
        <i class="fas fa-exclamation-triangle"></i>
        <small class="text-danger errorsval">
            {{ errorMessage }}
        </small>
    </div>
}

@if (showCharCount) {
    <div class="w-full text-right char-counter">
        <small [class]="charCountClass + (+charCountText === maxLength ? 'text-danger' : '')">
            {{ charCountText }}
        </small>
    </div>
}
