/* RobotoCondensed-Light - principal font */
@font-face {
    font-family: 'RobotoCondensed';
    font-style: normal;
    font-weight: 300;
    src: local('RobotoCondensed-Light'),
         url('src/assets/layout/fonts/RobotoCondensed-SemiBold.ttf') format('truetype');
}

/* Aplicar la fuente a todo el documento */
* {
    font-family: 'RobotoCondensed', sans-serif;
}
