p-radio-button,
p-radiobutton,
p-radioButton {
    display: inline-flex;
}

p-tree {
    .p-tree-node-checkbox {
        display: block;
    }
}

p-treetable {
    .p-treetable-node-checkbox {
        display: block;
    }
}

.p-tag-icon {
    line-height: 1.2;
}

.p-checkbox {
    display: block !important;
}

.p-floatlabel {
    display: flex !important;
    input {
        border-radius: 10px !important;
        padding: 0.7rem 0.7rem !important;
        font-size: 1rem !important;
    }

    .p-password {
        width: 100% !important;
        display: flex !important;

        input {
            flex: 1 !important;
            width: 100% !important;
        }
    }
}

.p-floatlabel-on:has(input:focus) label,
.p-floatlabel-on:has(input.p-filled) label,
.p-floatlabel-on:has(input:-webkit-autofill) label,
.p-floatlabel-on:has(textarea:focus) label,
.p-floatlabel-on:has(textarea.p-filled) label,
.p-floatlabel-on:has(.p-inputwrapper-focus) label,
.p-floatlabel-on:has(.p-inputwrapper-filled) label {
    top: 0;
    transform: translateY(-50%);
    border-radius: var(--p-floatlabel-on-border-radius);
    background: var(--p-floatlabel-on-active-background);
    padding: var(--p-floatlabel-on-active-padding);
    font-size: 1.1rem !important;
    padding: 0.2rem 0.5rem !important;
    border-radius: 5px !important;
    font-weight: 500;
}

p-datepicker{
    .p-datepicker-input{
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}

// Estilos adicionales para el componente password
.p-password {
    .p-password-input {
        width: 100% !important;
    }
    .p-password-panel {
        min-width: 100% !important;
    }
}


p-select{
  border-radius: 10px !important;
}


//GENERICS
.validation-error-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
        color: red;
        font-weight: bold;
        margin-left: 10px;
        font-size: 0.996rem;
        i{
            margin-right: 5px;
         color: red;
        }
    }
.p-select-option.p-select-option-selected.p-focus {
    background: var(--p-select-option-selected-focus-background);
    color: var(--primary-color) !important;
}

textarea{
    border-radius: 10px !important;
}